body {
    background-color: #efcc8c;
    font-family:  tahoma;
    
}

#patron {
    background-color: #b9cbfb;
    width: 500px;
    height: 500px;
    padding-left: 10px;
    padding-top: 10px;
}

#lastnameerror {
    font-color: #ff0000;
}