.redtext {
	
	color: red;
}

.bluetext {
	
	color: blue;
}

#main{
	background-color: white;
	
	
}

p {
	font-weight: bold;
}

body {
	/*color: #ff0000;*/
	background-color: silver;
	font-family:Arial, Helvetica, sans-serif; 
	

h2 {
	
	font-size: 20px;
}


.redtext {
	
	color: red;
}

li.redtext {
	
	color: red;
}