body {

    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    

}

h1 {
    color: blue;
    background-color: blanchedalmond;
}

h2 {
    
    color: blue;
}

p {
    font-size: 16px;
    
    
}

p.form
{
    vertical-align: middle
}

span.blue
{
    color: blue;
}

a {
    text-decoration: underline;
    
}