html {margin:0; padding:0;}

body {
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	background-color: #F0E68C;
}

p {
	font-size: 16px;
}

input {
	font-size: 16px;
}

select {
	font-size: 16px;
}

#patron {
	position: absolute;
	top: 100px;
	left: 10px;
	width: 350px;
	height: 550px;
	padding: 10px;
}

form
{
    background-color: #E6E6FA;
}


#logo
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 800px;
}

