html {margin:0; padding:0;}

body {
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	background-color: #F0E68C;
}

p {
	font-size: 16px;
}

p.boldtext {
	font-weight: bold;
}


input {
	font-size: 16px;
}

select {
	font-size: 16px;
}

textarea {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

tr {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	color: blue;
}

.textblue {
	color: blue;
}

.textdisabled {
	background-color: lightgray;
}

.errormsg {
	color: red;
}

#patron {
	position: absolute;
	top: 100px;
	left: 10px;
	width: 350px;
	height: 550px;
	padding: 10px;
	background-color: #E6E6FA;
}

#patronlist
{
	position: absolute;
	top: 100px;
	left: 10px;
	width: 550px;
	height: auto;
	padding: 10px;
	background-color: #E6E6FA;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
}

#staffinfo {
	position: absolute;
	top: 100px;
	left: 10px;
	width: 250px;
	height: 150px;
	padding: 10px;
	background-color: yellow;
	visibility: hidden;
	z-index: 100;
}


#logo
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 800px;
}

#featuredtitle
{
	position: absolute;
	top: 85px;
	left: 0px;
	width: 350px;
	height: 300px;
	padding: 10px;
	background-color: #ADD8E6;
	z-index: 100;
}


#stafflist
{
	position: absolute;
	top: 85px;
	left: 350px;
	width: 430px;
	height: 300px;
	padding: 10px;
	background-color: #E6E6FA;
	z-index: 100;
}

#booklist
{
	position: absolute;
	top: 100px;
	left: 10px;
	width: 550px;
	height: auto;
	padding: 10px;
	background-color: #E6E6FA;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
}

#findtitle
{
	position: absolute;
	top: 385px;
	left: 0px;
	width: 350px;
	height: 200px;
	padding: 10px;
	background-color: #E6E6FA;
	z-index: 100;
}

#youraccount
{
	position: absolute;
	top: 385px;
	left: 350px;
	width: 430px;
	height: 200px;
	padding: 10px;
	background-color: #ADD8E6;
	z-index: 100;
}


#serverinfo
{
	position: absolute;
	top: 600px;
	left: 0px;
	width: 350px;
	padding: 10px;
	color: black;
}

#checkedbooks
{
	position: absolute;
	top: 200px;
	left: 200px;
	width: 350px;
	padding: 10px;
	color: black;
	background-color: yellow;
	display: none;
	z-index: 200;
}

#endpage
{
	position: absolute;
	top: 800px;
	left: 10px;
}