html {margin:0; padding:0;}

body {
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	background-color: #F0E68C;
}

p {
	font-size: 16px;
}

input {
	font-size: 16px;
}

select {
	font-size: 16px;
}

#patron {
	position: absolute;
	top: 100px;
	left: 10px;
	width: 500px;
	height: 485px;
	padding: 10px;
	background-color: #E6E6FA;
}

#patronlist {
	position: absolute;
	top: 100px;
	left: 10px;
	width: 550px;
	height: 485px;
	padding: 10px;
	background-color: #E6E6FA;
}


#logo
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 800px;
}

#serverinfo
{
	position: absolute;
	top: 600px;
	left: 0px;
	width: 350px;
	padding: 10px;
	color: black;
}
.divinfo
{
    background-color: #E6E6FA;
    width: 50%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    
}
