/* CSS Document */

body {
	font: 80%/1.5 Verdana, Arial, Helvetica, sans-serif;	
	color: black;
	background-color: antiquewhite;
}
h3{
	margin-bottom: 20px;
	text-align: center;
}

ul {
	list-style: none;

}
div{
	width: 1000px;
	margin: auto;
	
}
.content p {
font-family: abel; 
font-style: normal; 
font-weight: 400;
}

header {
	padding-top: 45px;
	height: 150px;
	font-size: 55px;
	text-align: center;
	font: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	background-image: url(images/assorted-paint-colors-abstract-header.jpg);
	color: white;
}

nav {
	text-align: center;
	float: left;
	color: #160A47;
	width: 300px;

	
}
div.content {
	font-size: 18px;
	width: 700px;
	float: right;
	border-radius: 25px;
	border: 2px solid #F42424;
	box-sizing: border-box;
	padding: 0 10px;
	margin: 20px 0;
}

div.tabs{
	width: 100%;
  overflow: hidden;
  text-overflow: ellipsis; 
		border-radius: 25px;
}

div.ui-tabs-panel{
	
	width: auto;
}
li {
	color: black;
}

form {
	margin-left: 20px;
	margin-bottom: 20px;
	
}

footer {
	clear: both;
	text-align: center;
	padding: 10px 20px;
	background-color: #09394D;
	color: white;
	border-top-style: solid;
	border-top-color: #000000;
}
	a {
	color: navy;
	font-weight: bold;
	text-decoration: none;
}
    a:visited {
	color: purple;
}
    a:hover, a:active, a:focus {
	color: green;
	text-decoration: underline;
}

.red {
	color: red;
}

.blue {
	color: blue;
}

.shadow {
	box-shadow: 5px 5px 3px #333333;
	width: 75%;
}
